# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/
.env.bak/
*.env
stocksense_env/

# Conda environments
.conda/
*.conda

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log

# Coverage / testing
.coverage
*.cover
htmlcov/

# Build / packaging
build/
dist/
*.egg-info/
.eggs/
